.modalBg {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: var(--secondary);
  color: var(--background);
  border-radius: 3px;

  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalTitle {
  padding: 1rem 0;
}

.modalTitle h2 {
  text-shadow: var(--dropshadow-dark);
  text-align: start;
}

.modalBtn {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 2.5rem;
}

@media (max-width: 900px) {
  .modal {
  margin: 0 2rem;
}
}