.contentContainer {
  padding: 2rem 1rem;
  background-color: var(--card-background);
  box-shadow: 2px 2px 2px var(--dropshadow-dark);
  border-radius: 3px;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.contentText{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
    text-align: start;
    word-wrap: break-word;
    text-wrap: wrap;
    line-height: 1.1;
    flex: 1;
}

.contentContainer p::first-letter {
    text-transform: capitalize;
    max-width: 60%;
}

.itemText {
}

.itemText input[type="text"] {
}

.itemText button {
}

.btnContainer {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.btnContainer button {
}

.btnContainer button:active {
    background-color: var(--text);
}

.btnContainer button:hover {
}
