@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

:root {
  --text: hsl(45, 10%, 92%);
  --background: hsl(49, 11%, 28%);
  --primary: hsl(45, 88%, 48%);
  --secondary: hsl(49, 74%, 35%);
  --accent: hsl(49, 96%, 50%);

  font-family: "Poppins";
  font-weight: 400;
  color: var(--text);
  line-height: 1;
}

html {
  font-size: 100%; /* 16px */
  background-color: var(--background);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);

  margin: 0;
}

h1 {
  font-size: 2rem; 
  border-bottom: solid 1px var(--text);
}

h2 {
  font-size: 1.295rem; /* 20.8px */
}

h1,
h2 {
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0;
}

.app-container {
  min-height: 500px;
  min-width: 600px;
  border-radius: 15px;
  padding: 5%;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

.done-container {
  border-top: solid 1px var(--text);
}
/*
.list-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 1% 0;
  min-height: 460px;
  max-height: 460px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-container::-webkit-scrollbar {
  width: 8px;
}

.list-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

.list-container::-webkit-scrollbar-thumb {
  background: var(--brand-color-dark);
  border-radius: 20px;
} */

input[type="text"] {
  border-radius: 8px;
  border: solid 1px var(--secondary);
  background-color: transparent;
  color: var(--text);
  padding: 0.5% 1%;
  font-family: inherit;
  transition: all 0.25s;
}

input[type="text"]:hover {
  opacity: 0.8;
}
input[type="text"]:focus,
input[type="text"]:focus-visible {
  outline: none;
  opacity: 1;
}

/* !general buttons */
button {
  border-radius: 8px;
  padding: 1%;
  border: none;
  transition: all 0.25s;
  background-color: var(--accent);

  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  opacity: 0.9;
}
button:active {
  background-color: var(--secondary);
}
button:disabled {
  background-color: var(--secondary);
}
button:disabled:hover {
  opacity: 1;
  cursor: not-allowed;
}
