@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

html {
  font-size: 16px;
  background-color: var(--background);
}

body {
  margin: 0.5rem;
}

h1 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  border-bottom: solid 1px var(--text);
}

h2 {
  font-size: 1.5rem;
}

h1,
h2 {
  font-weight: 700;
  text-shadow: 1px 2px 2px var(--dropshadow-light);
  padding-bottom: 0.3rem;
}

:root {
  --text: hsl(47, 12%, 91%);
  --text-accent: hsl(43, 15%, 71%);
  --background: hsl(43, 10%, 8%);
  --background-accent: hsl(48, 2%, 23%);
  --primary: hsl(43, 74%, 52%);
  --secondary: hsl(43, 83%, 65%);
  --accent: hsl(47, 96%, 50%);
  --confirm: hsl(84, 60%, 52%);
  --edit: hsl(194, 58%, 60%);
  --delete: hsl(8, 64%, 52%);

  --card-background: hsla(40, 1%, 20%, 0.5);
  --todo-card-background:  hsl(43, 74%, 52%, 0.075);
  --done-card-background: hsl(84, 60%, 52%, .075);
  --dropshadow-dark: hsla(40, 5%, 5%, 0.26);
  --dropshadow-light: hsla(40, 35%, 95%, 0.3);

  font-family: "Poppins";
  font-weight: 400;
  color: var(--text);
  line-height: 1;
}

#root {
  width: 100%;
}

.app-container {
  padding: 0 1rem 1rem;
  min-height: 50%;
  max-height: 50%;
}

.form-container {
  padding-top: 1rem;
}

.list-container {
  display: flex;
  min-height: 45rem;
  max-height: 45rem;
  gap: 1rem;
}

.content-container {
  flex: 1;
  margin: 1rem 0 0;
  padding: 1rem;
  border-radius: 3px;
  min-width: 49.6%;
  max-width: 49.6%;
}

.empty-card{
  margin-top: .5rem;
  padding-right: 1rem;
}

.empty-card-message {
  padding: 2.4rem 1rem;
  margin: 0.5rem 0;
  background-color: var(--card-background);
  box-shadow: 2px 2px 2px var(--dropshadow-dark);
  border-radius: 3px;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.emoji {
  font-size: 1.3rem;
}

.item-container {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: .5rem;
  padding: 0 .5rem .5rem 0;
  max-height: 40rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.todo-container {
  background-color: var(--background-accent);
  color: var(--text);
}

.todo-container > h2 {
  border-bottom: solid 1px var(--accent);
}

.done-container {
  background-color: var(--background-accent);
}

.done-container h2 {
  border-bottom: solid 1px var(--confirm);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--todo-card-background);
  opacity: 0.5;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 3px;
}

.item-container-done::-webkit-scrollbar-thumb {
  background-color: var(--confirm);
}

.item-container-done::-webkit-scrollbar-track {
  background-color: var(--done-card-background);
}

input[type="text"] {
  font-size: 0.8rem;
  font-family: inherit;
  padding: 0.5rem;
  border-radius: 3px;
  outline: none;
  border: none;
  transition: all 0.25s;
  line-height: 0.8;
}

input[type="text"]:hover {
  outline: solid 1px var(--accent);
}

input[type="text"]:focus,
input[type="text"]:focus-visible {
  outline: solid 1px var(--accent);
}

button {
  font-size: 0.8rem;
  text-align: center;
  box-shadow: 2px 2px 2px --dropshadow-dark;

  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  outline: none;
  border: none;
  transition: all 0.25s;
  background-color: transparent;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

button:disabled:hover {
  cursor: not-allowed;
  opacity: 1;
}

.confirm-button {
  color: var(--confirm);
  font-size: 1.2rem;
}
.edit-button {
  color: var(--edit);
  font-size: 1.2rem;
}
.edit-button:disabled{
  opacity: .3;
}

.delete-button {
  color: var(--delete);
  font-size: 1.2rem;
}
.view-button {
  color: var(--accent);
  font-size: 1.2rem;
}

.no-task-title {
  color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10rem;
  line-height: 1.2;
}

.no-task-title h2 {
  text-shadow: none;
}

@media (max-width: 900px) {
  .app-container {
    min-height: 30rem;
    max-height: 30rem;
  }
  .list-container {
    flex-direction: column;
    align-items: center;
    gap: 0;
    min-height: 30%;
  }
  .content-container {
    margin: 0.6rem 0.2rem;
    padding: 1rem;
    min-height: 19rem;
    max-height: 19rem;
    min-width: 100%;
  }
  .item-container {
    max-height: 15.6rem;
  }
  .no-task-title p {
    font-size: 0.8rem;
  }
}
