@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

html {
  font-size: 16px;
  background-color: var(--background);
}
:root {
  --text: hsl(45, 10%, 8%);
  --background: hsl(50, 7%, 84%);
  --primary: hsl(45, 88%, 52%);
  --secondary: hsl(49, 74%, 65%);
  --accent: hsl(49, 96%, 50%);
  --shadow: hsla(0, 0%, 0%, 0.28);

  font-family: "Poppins";
  font-weight: 400;
  color: var(--text);
  line-height: 1;
}

#root {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  max-width: 100%;
}

h1 {
  font-size: 2rem;
  border-bottom: solid 1px var(--text);
}

h2 {
  font-size: 1.5rem;
}

h1,
h2 {
  font-weight: 700;
  text-shadow: 2px 2px 2px var(--shadow);

  display: flex;
  justify-content: start;
  align-items: center;
}

p {
  margin: 0;
  padding: 0;
}

.app-container {
  /* min-height: 500px; */
  padding: 0 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 80%;
}

.list-container {
  display: flex;
  margin: 1% 0;
  max-width: 80%;
}

.todo-container {
  background-color: var(--secondary);
  /* border-bottom: solid 1px var(--text); */
  padding: 1%;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  max-height: 28rem;
}

.done-container {
  padding: 1%;
  margin-top: 1%;
}

.todo-container::-webkit-scrollbar {
  width: 8px;
}

.todo-container::-webkit-scrollbar-track {
  background: trnsparent;
}

.todo-container::-webkit-scrollbar-thumb {
  background: var(--primary);
}

input[type="text"] {
  background-color: transparent;
  color: var(--text);
  padding: 0.5% 1%;
  font-family: inherit;
  transition: all 0.25s;
}

input[type="text"]:hover {
  opacity: 0.8;
}
input[type="text"]:focus,
input[type="text"]:focus-visible {
  outline: none;
  opacity: 1;
}

/* !general buttons */
button {
  border: none;
  transition: all 0.25s;
  background-color: var(--accent);

  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  opacity: 0.9;
}
button:active {
  background-color: var(--secondary);
}
button:disabled {
  background-color: var(--secondary);
}
button:disabled:hover {
  opacity: 1;
  cursor: not-allowed;
}
